@helper SiteMenu() {
    var db = Database.Open("Datebase");
    var data = db.Query("select * from SiteMenu order by OrderId DESC");
    var url = "/" + Context.GetRouteValue("pageId");
    if(url == "/default"){
        url = "/";
    }
   <nav>
    <ul class="sitemenu">
    @foreach (var row in data)
    {
        if(row.Link.ToString().StartsWith("~")){
       <li><a href="@Href(row.Link)" @if(url == row.Link){ <text>class="selected"</text>}  target="@row.Target">@row.Label</a></li>
        }else{
        <li><a href="@row.Link"  @if(url == row.Link){ <text>class="selected"</text>} target="@row.Target">@row.Label</a></li>
        }
    }
        </ul>
    </nav>

}


@helper Footer(){
<text>
<hr/>
    <div class="footer">
                <div class="row">
                    <div class="span2">
                    <dl>
                      <dt>Навигация</dt>
                        <dd><a href="~/">Главная страница</a></dd>
                        <dd><a href="~/Aviation">Авиация</a></dd>
                        <dd><a href="~/Space">Космонавтика</a></dd>
                        <dd><a href="//article.worldfly.info">Статьи</a></dd>
                        <dd><a href="//blog.worldfly.info">Блог</a></dd>
                        <dd><a href="//support.worldfly.info">Подробнее</a></dd>
                    </dl>
                </div>
               <div class="span3">
                    <dl>
                      <dt>Социальные сети</dt>
                        <dd><a href="~/">Главная страница</a></dd>
                        
                    </dl>
                </div>
               
               <div class="span2" title="Ссылка на страницу">
                  
                    <img src="~/Components/qr?data=@Request.Url&scale=10" alt="@Request.Url" class="bottom-qr"/>
                </div>
                    <div class="span4 right hidden-phone">
                        <a href="//support.worldfly.info/answer.cshtml/legal?topic=22011">
                            <img src="//globalresources.worldfly.info/ads/image/320x180-copyright.jpg"/>
                        </a>
                        
                    </div>
                </div>
            </div>
</text>
}