@{
    var db = Database.Open("Datebase");


    var dbstring = "SELECT * FROM Settings WHERE Id = @0";
  
    var dlang = db.QuerySingle(dbstring, "1"); //geting Site Lang

    var dname = db.QuerySingle(dbstring, "2"); //geting Site Name

    var dps = db.QuerySingle(dbstring, "3"); //geting Page Name Separator

    var dmeta = db.QuerySingle(dbstring, "4"); //geting meta enable
}

<!DOCTYPE html>

<html lang="@dlang.SetValue">
   <head>
        <meta charset="utf-8" />
        <title>@Page.Title @dps.SetValue @dname.SetValue</title>

        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        @if(dmeta.SetValue == "on"){
        <meta name="description" content="@Page.Description"/>
        <meta name="keywords" content="@Page.Keywords"/>
        <meta name="author" content="@Page.Author"/>
        }

        <link href="~/Components/ui/css/Global.css" rel="stylesheet"/>
        <link href="//worldfly.org/site/bootstrap/css/bootstrap-responsive.css" rel="stylesheet"/>
        <link href="//worldfly.org/site/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

        @RenderSection("head_code", false)
    </head>
    <body>
        <div class="page">
            @RenderBody()
            
            
        </div>
        

        <script>(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter206275 = new Ya.Metrika({id:206275, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true, trackHash:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/206275" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    </body>
</html>

<!--
2008 - ∞ © World Fly

-->